@CHARSET "ISO-8859-1";

.ui-widget {
    font-size: 14px !important;
}

.texto_menu{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;    
    font-weight: bold;
    color: #00008B;
    font-size: 15px;
}